# ide's
.idea/
.vscode/

# python
.venv/
**/__pycache__/

# General
.AppleDouble
.LSOverride
.DS_Store
output/.DS_Store

output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
*/work-items-out/*
testrun/*
.~lock*
*.pkl
